html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.search {
  align-items: top;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; 
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.topPagination {
 margin-bottom: 25px;
}

.bottomPagination {
  margin-top: 25px;
}

.article {
  margin-bottom: 10px;
}